html{
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  box-sizing: border-box;
  height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background: #e2e2cf;
}
.dark-app{
  background: rgb(22, 22, 22);
}
.container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}